.detailsWrapper {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-auto-rows: auto;
	background-color: dimgrey;
	
	color:beige;
}

.detailsImage {
	background-color: rgb(58, 58, 58);
}

span{
	display: block;
}

.detailsImage img {
	border-radius: 20px;
	width: 300px;
}

.content {
	background-color: rgb(49, 49, 49);
	padding-left: 10px;
	color:beige;
}